body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.mobile-input-container {
    text-align: center;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

input[type="tel"] {
    width: 90%;
    padding: 15px;
    margin: 20px 0;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
}

input[type="tel"]:focus {
    border-color: #007bff;
    outline: none;
}

span#error-message {
    color: red;
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a{
    text-decoration: none;
}

button:hover {
    background-color: #0056b3;
}
